In [1]:
print("Hello World !")

Hello World !

In [2]:
Nom = input("Entrez votre NOM : ")

Entrez votre NOM : salim

In [3]:
age = int(input("Entrez votre âge : "))
poids = float(input("Entrez votre poids : "))

Entrez votre âge : 12
Entrez votre poids : 77.5

In [4]:
nom = "azghay"
age = 21
poids = 75.5
valider = True

In [5]:
age = 25   # mise à jour de la valeur de la variable "âge"

In [6]:
nom_liste = [1, 2, 3, 4]

In [7]:
nom_liste = []

In [8]:
nom_liste = [1, 2, 3, 4]
print(nom_liste)# afficher tous les éléments de la liste

[1, 2, 3, 4]

In [9]:
print(nom_liste[0]) # afficher 1
print(nom_liste[2]) # afficher 3

1
3

In [10]:
print(nom_liste[-1]) # afficher 4
print(nom_liste[-3]) # afficher 2

4
2

In [11]:
nom_liste[0] = 5 # modifies l’élément de l’index 0
print(nom_liste) # afficher [5,2,3,4]

[5, 2, 3, 4]

In [12]:
nom_liste = [1, 2, 3, 4]
nom_liste.append(11)
print(nom_liste) # afficher [1,2,3,4,11]

[1, 2, 3, 4, 11]

In [13]:
nom_liste = [1, 2, 3, 4]
nom_liste.inssert(2,11)  # ajouter au millier de la liste
print(nom_liste) # afficher [1,2,11,3,4]
nom_liste.inssert(0,0)  # ajouter au début de la liste
print(nom_liste) # afficher [0,1,2,11,3,4]

AttributeError: 'list' object has no attribute 'inssert'

In [14]:
nom_liste = [1, 2, 3, 4]
nom_liste.insert(2,11)  # ajouter au millier de la liste
print(nom_liste) # afficher [1,2,11,3,4]
nom_liste.insert(0,0)  # ajouter au début de la liste
print(nom_liste) # afficher [0,1,2,11,3,4]

[1, 2, 11, 3, 4]
[0, 1, 2, 11, 3, 4]

In [15]:
nom_liste = [1,2,3,4,2]
nom_liste.remove(2) # supprime la première élément égale 2
print(nom_liste) # affiche [1,3,4,2]

ele = nom_liste.pop() # supprime et retourne le dernier élément
print(ele) # affiche 2
print(nom_liste) # affiche [1,3,4]

[1, 3, 4, 2]
2
[1, 3, 4]

In [16]:
liste = [1, 2, 3, 4, 5]

In [17]:
if 4 > 5:
    print("True")
else:
    print("False")

False

In [18]:
if 4 > 5:
    print("PHP")
elif 4 > 3:
    print("CSS")
else:
    print("JAVA")

CSS

In [19]:
j = 0
while j < 5:

SyntaxError: incomplete input (3900355771.py, line 2)

In [20]:
j = 0
while j < 5:
    print(j,end=' ')
    j += 1

0 1 2 3 4

In [21]:
fruits = ["ananas", "banane", "avocat", "cerise"]
for fruit in fruits:
    print(fruit , end=' ')

ananas banane avocat cerise

In [22]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [1]:
a = 2
b = 3
if a > b:
    print("le max est : ",a)
else:
    print("le max est : ",b)

le max est :  3

In [2]:
a = 9
if a < 0:
    
    print("a est negative ")
elif a == 0:
    print("a est null ")
else:
    print("a est positive ")

a est positive